body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

/*
.btnproduct {
  position: absolute;
  bottom: 0;
}
.card {
  height: 380px;
  position: relative;
  overflow: hidden;
}
*/
.card {
  max-width: 20rem;
  height: 30rem;
  overflow: hidden;
}

.homeh1 {
  text-align: center;
  color: #4c025f;
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.para {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homeh3 {
  font-family: 'Brush Script MT', cursive;
}

.card1 {
  max-width: 20rem;
  height: 30rem;
  overflow: hidden;
  border: transparent;
}

.card-img-top {
  height: 12rem;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-title,
.card-text {
  flex: 0 0 100%;
  width: 100%;
}

.card-img-top {
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.card-img-top-home {
  height: 120px;
  object-fit: contain;
  margin-right: 25px;
  width: 300px;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.products {
  flex-wrap: wrap;
  justify-content: center;

}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  object-fit: cover;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}